// <span data-easy-tooltip="Tooltip help here!" data-placement="top">CSS Tooltips</span>
$bg_color: #605C4D;
$text_color: #ffff;

[data-easy-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-easy-tooltip]:before,
[data-easy-tooltip]:after {
    line-height: 1;
    font-size: .9em;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    display: none;
    opacity: 0;
}

[data-easy-tooltip]:before {
    content: "";
    border: 5px solid transparent;
    z-index: 100;
}

[data-easy-tooltip] [data-easy-tooltip]:before {
    z-index: 500;
}

[data-easy-tooltip]:after {
    content: attr(data-easy-tooltip);
    text-align: center;
    // min-width: 3em;
    min-width: 12em;
    max-width: 21em;
    // white-space: nowrap;
    // white-space: pre-line;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // padding: 4px 12px;
    padding: 10px 12px;
    border-radius: 9px;
    background-color: $bg_color;
    color: $text_color;
    z-index: 99;
}

[data-easy-tooltip] [data-easy-tooltip]:after {
    z-index: 400;
}

[data-easy-tooltip].tooltip-bg-warning:after {
    background-color: #f6c23e;
    color: #a52a2a;
}

[data-easy-tooltip].tooltip-bg-danger:after {
    background-color: #e74a3b;
}

[data-easy-tooltip].tooltip-bg-danger:not([data-placement])::before,
[data-easy-tooltip]:not([data-placement])::before,
[data-easy-tooltip][data-placement="top"]::before  {
    border-top-color: #e74a3b;
    border-bottom-color: #e74a3b;
    border-top-color: $bg_color;
}

[data-easy-tooltip]:hover:before,
[data-easy-tooltip]:hover:after {
    display: block;
    opacity: 1;
}

[data-easy-tooltip]:not([data-placement])::before,
[data-easy-tooltip][data-placement="top"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: $bg_color;
}

[data-easy-tooltip]:not([data-placement])::after,
[data-easy-tooltip][data-placement="top"]::after {
    bottom: calc(100% + 5px);
}

[data-easy-tooltip]:not([data-placement])::before,
[tooltip]:not([data-placement])::after,
[data-easy-tooltip][data-placement="top"]::before,
[data-easy-tooltip][data-placement="top"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, -4px);
    transform: translate(-50%, -4px);
}

[data-easy-tooltip][data-placement="bottom"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: $bg_color;
}

[data-easy-tooltip][data-placement="bottom"]::after {
    top: calc(100% + 5px);
}

[data-easy-tooltip][data-placement="bottom"]::before,
[data-easy-tooltip][data-placement="bottom"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, 8px);
    transform: translate(-50%, 8px);
}

[data-easy-tooltip][data-placement="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: $bg_color;
    left: calc(0em - 5px);
    -webkit-transform: translate(-8px, -50%);
    transform: translate(-8px, -50%);
}

[data-easy-tooltip][data-placement="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    -webkit-transform: translate(-8px, -50%);
    transform: translate(-8px, -50%);
}

[data-easy-tooltip][data-placement="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: $bg_color;
    right: calc(0em - 5px);
    -webkit-transform: translate(8px, -50%);
    transform: translate(8px, -50%);
}

[data-easy-tooltip][data-placement="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    -webkit-transform: translate(8px, -50%);
    transform: translate(8px, -50%);
}

[data-easy-tooltip=""]::after,
[data-easy-tooltip=""]::before {
    display: none !important;
}
